* {
    box-sizing: border-box;
}
:root {
    --main-color: #ff4331;
    --main-padding: 100px;
    --section-bg: #f6f6f6;
}
body {
    font-family: 'Poppins', sans-serif;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* start of settings */
.settings {
    position: fixed;
    left: -200px;
    top: 0;
    width:200px;
    height: 100%;
    z-index: 3;
    background-color: #fff;
    transition: .3s;
}
.settings.clicked {
    left: 0;
}
.settings .settings-icon {
    right: -32px;
    margin-top: 100px;
    font-size: 22px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    background-color: #fff;
}
.settings .settings-icon svg {
    padding: 5px;
}
.settings .settings-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.settings .settings-container h5 {
    text-align: center;
    font-weight: 500;
    font-size: 15px;
}
.settings .settings-container .option-box {
    padding: 15px;
    margin: 10px;
    margin-top: 20px;
    background-color: #eee;
    border-radius: 6px;
}
.settings .settings-container .option-box .colors {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.settings .settings-container .option-box .colors li {
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: .3;
    transition: .3s;
    border-radius: 50%;
    border: 3px solid #eee;
}
.settings .settings-container .option-box .colors li.active,
.settings .settings-container .option-box .colors li:hover {
    opacity: 1;
    border-color: white;
}
.settings .settings-container .option-box .colors li:first-child {
    background-color: #ff4331;
}
.settings .settings-container .option-box .colors li:nth-child(2) {
    background-color: #990633;
}
.settings .settings-container .option-box .colors li:nth-child(3) {
    background-color: #3500d4;
}
.settings .settings-container .option-box .colors li:last-child {
    background-color: #66fcf1;
}
/* second option box */
.settings .settings-container .option-box .btns {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 5px
    ;
}
.settings .settings-container .option-box span {
    padding: 3px 10px;
    background-color: #333;
    color: #fff;
    font-size: 13px;
    border-radius: 6px;
    cursor: pointer;
    width: 50px;
    text-align: center;
    transition: .3s;
    opacity: .5;
}
.settings .option-box .btns span.active {
    opacity: 1;
}
/* end of settings */
/* start of bullets */
.nav-bullets {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    z-index: 9;
}
.nav-bullets .bullet {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid var(--main-color);
    position: relative;
    margin: 15px auto;
    cursor: pointer;
}
.nav-bullets .bullet:hover .tip-tool {
    display: block;
}
.nav-bullets .bullet .tip-tool {
    position: absolute;
    left: -135px;
    top: -8px;
    background-color: var(--main-color);
    color: #fff;
    padding: 4px 10px;
    width: 120px;
    text-align: center;
    cursor: default;
    pointer-events: none;
    display: none;
    text-transform: capitalize;
}
.nav-bullets .bullet .tip-tool::before {
    content: '';
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    position: absolute;
    border-color: transparent transparent transparent var(--main-color);
    right: -19px;
    top: 50%;
    transform: translateY(-50%);
}
/* start of landing */
.landing {
    background-image: url(/imgs/landing04.jpg);
    min-height: 100vh;
    background-size: cover;
    position: relative;
    /* transition: 5s; */
}
.landing .overlay {
    background-color: rgb(0 0 0 / .6);
    width: 100%;
    height: 100%;
    position: absolute;
}
.nav-area {
    position: relative;
    z-index: 2;
    padding: 20px;
    box-shadow: 0 0 5px #000;
    flex-wrap: wrap;
    transition: .3s;
}
.nav-area.open {
    /* background-color: rgb(0 0 0 / .6); */
    backdrop-filter: blur(10px);
}
.landing .nav-area .logo  {
    flex: 1;
}
.landing .nav-area .logo p {
    color: var(--main-color);
    font-size: 30px;
    font-weight: 600;
}
.landing .nav-area .logo svg {
    cursor: pointer;
    color: var(--main-color);
}
.landing .nav-area .links {
    gap: 2rem;
    overflow: hidden;
    transition: .3s;
    align-items: center;
}
.landing .nav-area .links.open {
    height: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.landing .nav-area .login-btn.open {
    height: 30px;
    overflow: visible;
    margin: 20px auto 0;
}
.landing .nav-area .links li a {
    text-decoration: none;
    color: #fff;
    transition: .3s;
}
.landing .nav-area .links li a.active,
.landing .nav-area .links li a:hover {
    color: var(--main-color);
}

.landing .nav-area .login-btn a {
    color: #fff;
    text-decoration: none;
    padding: 6px 12px;
    box-shadow: 0 0 5px #000;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: .3s;
    margin-left: 3rem;
}
.landing .nav-area .login-btn a:hover {
    background-color: var(--main-color);
    border-color: transparent;
}
.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    width: 100%;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    padding: 0 20px;
}
.landing .intro-text h1 span {
    color: var(--main-color);
}
@media (max-width: 767px) {
    .landing .nav-area .links {
        width: 100%;
        flex-direction: column;
        gap: 0px;
        height: 0;
        overflow: hidden;
    }
    .landing .nav-area .links li {
        width: 100%;
    }
    .landing .nav-area .links li a {
        width: 100%;
        display: block;
        text-align: center;
        padding: 10px;
    }
    .landing .nav-area .login-btn  {
        height: 0;
        overflow: hidden;
    }
    .landing .nav-area .login-btn a {
        margin-left: 0;
    }
}
/* end of landing */
/* start of about us */
.about {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.about .info-box {
    flex: 1;
}
.about .info-box h2 {
    color: var(--main-color);
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
.about .info-box p {
    line-height: 1.6;
    color: #585858;
}
.about .image-box {
    flex: 1;
    text-align: center;
}
.about .image-box img {
    width: 250px;
}
@media (max-width: 767px) {
    .about .container {
        flex-direction: column;
        gap: 40px;
        text-align: center;
    }

}
/* end of about us */
/* start of skills */
.skills {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--section-bg);
}
.skills .container h2 {
    color: var(--main-color);
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 35px;
}
.skills .container .skills-content {
    gap: 50px;
    align-items: center;
}
.skills .container .skills-holder {
    flex: 1;
}
.skills .container .name {
    text-transform: uppercase;
    color: #535353;
    width: 130px;
}
.skills .container .progress {
    height: 2rem;
    overflow: visible;
    width: 100%;
}
.skills .container .skills-holder .skill-box {
    display: flex;
    padding: 20px;
    background-color: #fff;
    align-items: center;
    gap: 10px;
    border-radius: .375rem;
}
.skills .container .skills-holder .skill-box:not(:last-child) {
    margin-bottom: 30px;
}
.skills .container .skills-holder .skill-box span {
    background-color: var(--main-color);
    position: relative;
    border-radius: .375rem;
    transition: 1s;
}
.skills .container .skills-holder .skill-box span::after {
    content: attr(data-width);
    position: absolute;
    width: 40px;
    height: 25px;
    background-color: rgb(0 0 0 / 75%);
    color: #fff;
    top: -40px;
    right: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.375rem;
}
.skills .container .skills-holder .skill-box span::before {
    content: '';
    position: absolute;
    border-width: 6px;
    border-color: rgb(0 0 0 / 75%) transparent transparent transparent;
    border-style: solid;
    z-index: 2;
    top: -15px;
    right: -6px;
}
.skills .container .image-holder img {
    width: 450px;
}
@media (max-width: 991px) {
    .skills .container .image-holder img {
        width: 250px;
    }
}
@media (max-width: 767px) {
    .skills .container .image-holder img {
        width: 250px;
    }
    .skills .container .skills-content {
        flex-direction: column;
        gap: 25px;
    }
    .skills .container .skills-content .image-holder {
        flex: 1;
    }
    .skills .container .skills-holder {
        align-self: normal;
    }
}
/* end of our skills */
/* start of gallery */
.gallery {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
}
.gallery h2 {
    color: var(--main-color);
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 75px;
}
.gallery .container .imgs-holder img {
    width: 300px;
    margin: 5px;
    padding: 3px;
    background-color: #f6f6f6;
    border: 1px solid #ccc;
    cursor: pointer;
}
.gallery-over {
    background-color: rgb(0 0 0 / 70%);
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    left: 0;
    top: 0;
}
.gallery-over .overlay-content {
    position: relative;
    padding: 20px;
    background-color: #fff;
}
.gallery-over .overlay-content h3 {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin: 0 0 20px 0;
}
.gallery-over .overlay-content {
    user-select: none;
}
.gallery-over .overlay-content .x-btn {
    position: absolute;
    right: -20px;
    top: -20px;
    background-color: var(--main-color);
    cursor: pointer;
    height: 40px;
    width: 40px;
    display: grid;
    place-content: center;
    color: #fff;
}
.gallery-over .overlay-content .x-btn svg {
    font-size: 14px;
}
/* end of gallery overlay */
/* start of timeline */
.timeline {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: #eee;
}
.timeline .container h2 {
    color: var(--main-color);
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 75px;
}
.timeline .container .timeline-content {
    position: relative;
    overflow: hidden;
}
.timeline .container .timeline-content::after {
    content: '';
    position: absolute;
    height: calc(100% + 50px);
    width: 2px;
    background-color: var(--main-color);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.timeline .container .timeline-content .year {
    text-align: center;
    background-color: var(--main-color);
    padding: 4px 10px;
    color: #fff;
    width: fit-content;
    margin: 20px auto;
    border-radius: 6px;
}
.timeline .container .timeline-content .left {
    float: left;
}
.timeline .container .timeline-content .right {
    float: right;
}
.timeline .container .timeline-content .left,
.timeline .container .timeline-content .right {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    width: calc(50% - 25px);
    position: relative;
    margin: 10px 0;
}
.timeline .container .timeline-content .left::before, 
.timeline .container .timeline-content .right::before {
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #fff;
    border: 3px solid var(--main-color);
    position: absolute;
    z-index: 2;
    top: 20px;
}
.timeline .container .timeline-content .left::before {
    right: -32px;
}
.timeline .container .timeline-content .right::before {
    left: -32px;
}
.timeline .container .timeline-content .left::after,
.timeline .container .timeline-content .right::after{
    content: '';
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    position: absolute;
    top: 20px;
}
.timeline .container .timeline-content .left::after {
    right: -19.2px;
    border-color: transparent transparent transparent #fff;
}
.timeline .container .timeline-content .right::after {
    left: -19.2px;
    border-color: transparent #fff transparent transparent;
}
.timeline .container .timeline-content h3 {
    font-weight: bold;
    font-size: 24px;
}
.timeline .container .timeline-content p {
    line-height: 1.6;
    color: #666;
}
@media (max-width:767px) {
    .timeline .container .timeline-content .left,
    .timeline .container .timeline-content .right {
    width: 100%;
    }
    .timeline .container .timeline-content::after {
        display: none;
    }
}
/* end of timeline */
/* start of features */
.features {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.features h2 {
    color: var(--main-color);
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 75px;
}
.features .container .feat {
    width: calc(100% / 3);
    float: left;
    text-align: center;
    margin-bottom: 40px;
}
.features .container .feat img {
    width: 90px;
    border: 4px solid white;
    margin-bottom: 40px;
    outline: 4px solid black;
    border-radius: 50%;
}
.features .container .feat h4 {
    font-size: 20px;
    font-weight: bold;
    position: relative;
}
.features .container .feat h4::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 4px;
    background-color: var(--main-color);
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
    border-radius: 6px;
}
.features .container .feat p {
    color: #676767;
    font-size: 15px;
    line-height: 1.7;
    width: 80%;
    margin: 0 auto;
    text-transform: capitalize;
}
@media (max-width: 991px) {
    .features .container .feat {
        width: calc(100% / 2);
    }
}
@media (max-width: 767px) {
    .features .container .feat {
        width: 100%;
    }
}
/* end of features */
/*  start of testimonials */
.testimonials {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
    min-height: 600px;
    z-index: 1;
}
.testimonials::after {
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--main-color);
    z-index: -1;
}
.testimonials::before {
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #333;
    z-index: -1;
}
.testimonials .container h2 {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 75px;
}
.testimonials .container .testimonials-holder {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
}
.testimonials .container .testi {
    background-color: #fff;
    padding: 20px;
}
.testimonials .container .testi > p {
    font-style: italic;
    font-size: 15px;
    color: #666;
}
.testimonials .container .testi .testi-info {
    display: flex;
    align-items: center;
    gap: 20px;
}
.testimonials .container .testi .testi-info img {
    width: 60px;
    border-radius: 50%;
}
.testimonials .container .testi .testi-info h4 {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 0;
}
.testimonials .container .testi .testi-info p {
    color: #777;
    font-size: 13px;
    margin: 5px 0;
}
@media (max-width: 767px) {
    .testimonials .container .testimonials-holder {
        display: grid;
        grid-template-columns: minmax(200px, 1fr);
        gap: 10px;
    }
}